div(class="navbar-fixed")
	nav(class="z-depth-0")
		div(class="nav-wrapper white coffee-chat-grey-bottom-border")
			a(class="left brand-logo" href="/admin/talent")
				img(class="coffee-chat-home-logo" src="/public/images/USETHISLOGO.png")
			ul(class="right fixed")
				li
					a(class="coffee-chat-grey" href="/admin/metrics") Metrics
				li
					a(class="coffee-chat-grey" href="/admin/talent") Talent
				li
					a(class="coffee-chat-grey" href="/admin/match") Match
				// li
				// 	a(class="coffee-chat-grey" href="/admin/settings") Settings
				li
					a(class="coffee-chat-grey" href="/wild/user/signout") Signout