nav(class="white z-depth-0 clear")
	div(class="nav-wrapper sticky-nav coffee-chat-grey-bottom-border")
		div(class="")
			a(href="/coffeeChat")
				img(class="coffee-chat-logo coffee-chat-home-logo left brand-logo" src="/public/images/USETHISLOGO.png")
			div(class="right sticky-contents")
				a(class="dropdown-button" data-activates="dropdown")
					img(class="account-pic circle" style="border: 2px solid #ff7050" src=curUser.profilePic)
				ul(id="dropdown" class="dropdown-content")
					li
						a(class="coffee-chat-grey" href="/") Home
					li
						a(class="coffee-chat-grey" href="/settings") Settings
					li
						a(class="coffee-chat-grey" href="/wild/user/signout") Signout