nav(class="white z-depth-0 clear")
    div(class="nav-wrapper coffee-chat-grey-background coffee-chat-grey-bottom-border")
        a(href="/")
            img(class="coffee-chat-logo left brand-logo" src="/public/images/logo.png")
        ul(class="right hide-on-small-and-down")
            li
                a(class="waves btn white btn-outline" href="/wild/user/signout") Signout