nav(class="white z-depth-0 clear")
	div(class="nav-wrapper coffee-chat-grey-background coffee-chat-grey-bottom-border")
		div(class="container")
			a(href="/")
				img(class="left brand-logo coffee-chat-logo " src="/public/images/logo.png")
			ul(class="right hide-on-small-and-down fixed nav-buttons")
				li
					a(class="coffee-chat-grey" href="/wild/user/signout") Signout
