nav(class="white z-depth-0 clear")
	div(class="nav-wrapper coffee-chat-grey-background coffee-chat-grey-bottom-border")
		a(href="/")
			img(class="left brand-logo coffee-chat-logo " src="/public/images/logo.png")
