nav(class="white z-depth-0 clear")
	div(class="nav-wrapper sticky-nav-white coffee-chat-grey-bottom-border")
		div(class="")
			a(href="/coffeeChat")
				img(class="coffee-chat-logo coffee-chat-home-logo left brand-logo" src="/public/images/logo.png")
			div(class="right sticky-contents")
				a(class="dropdown-button home-header" data-activates="dropdown")
					div(class="home-header")
						img(class="account-pic circle" style="vertical-align: middle;" src=curUser.profilePic)
						i(class="material-icons" style="vertical-align: middle; display: inline-block; margin-right: 5px;") arrow_drop_down
				ul(id="dropdown" class="dd-120 dropdown-content")
					li
						a(class="coffee-chat-grey" href="/") Home
					li
						a(class="coffee-chat-grey" href="/settings") Settings
					li
						a(class="coffee-chat-grey" href="/wild/user/signout") Signout