script(src="https://code.jquery.com/jquery-2.2.0.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js")
script(type="text/javascript" src="https://www.gstatic.com/charts/loader.js")
include ./google-analytics.jade
include ./mixpanel.jade