div(class="sticky-nav nav-wrapper")
    div(class="container")
        a(href="/")
            img(class="coffee-chat-logo coffee-chat-home-logo left brand-logo" src="/public/images/logo.png")
        ul(class="right hide-on-small-and-down sticky-contents")
            li
                a(class="waves btn btn-outline nav-btn" href="/signin") Sign In
            li
                a(class="waves btn btn-outline nav-btn" href="/signup") Sign Up
            li
                a(class="waves btn btn-outline nav-btn" href="mailto:gocoffeechat@gmail.com") Contact
            li
                a(class="waves btn btn-outline nav-btn" href="/team") About Us
            li
                a(class="waves btn btn-outline nav-btn" href="/faq") FAQ
            // if (!curUser)
            //   li
            //       a(class="waves btn btn-outline nav-btn" href="/wild/oauth/auth") Signup
            // else
            //    li
            //        a(class="waves btn btn-outline nav-btn" href="/wild/user/signout") Signout
            //- if (curUser)
            //- 	li
            //- 		img(class="brand-logo coffe-chat-logo" src=curUser.profilePicSmall)
            //- 	li
            //- 		a(class="grey-text text-darken-3")=curUser.firstName
