div(class="section coffee-chat-grey-background")
	div(class="container")
		p
		img(class="responsive-img center-block" src="/public/images/heart.png")
		h4(class="center") Our Partners
		h5(class="center") Thank you to our network partners!
		p
		div(class="row")
			div(class="center col s6 m3 l3")
				img(class="responsive-img" style="max-height:120px;" src="/public/images/huffpo.png")
			div(class="center col s6 m3 l3")
				img(class="responsive-img" style="max-height:120px;" src="/public/images/startup.png")
			div(class="center col s6 m3 l3")
				img(class="responsive-img" style="max-height:120px;" src="/public/images/mc.png")
			div(class="center col s6 m3 l3")
				img(class="responsive-img" style="max-height:120px;" src="/public/images/kellogg.png")

