div(class="col s6 m3 l2 center spacer-15 past-match")
	a(href="#" class="pastMatch#{pastMatch.userID} match-link" data-id=pastMatch.userID data-past-match)
		img(class="responsive-img circle coffee-chat-circle match-pic" src="public/images/generic-profile.png")
		h6(class="center text-grey match-name") Match Name
		div(class="center text-grey match-title") Match Title