div(class="col s6 m3 l3 center spacer-15")
	a(href="" class="pastMatch#{pastMatch.userID} match-link")
		img(class="responsive-img circle coffee-chat-circle match-pic" src="public/images/generic-profile.png")
		h5(class="center text-grey match-name") Match Name
		h6(class="center text-grey match-title") Match Title