div(class="profile-section")
    div(class="row profile-container")
        div(class="col s6 offset-s3 m3 offset-m0 l3 offset-l0")
            a(href="#" id="match-link")
                img(class="responsive-img circle coffee-chat-circle" id="match-pic" src="public/images/generic-profile.png" data-profile-pic)
            h5(class="center text-grey" id="match-name" data-name) Match Name
            div(class="center text-grey" id="match-title" data-title) Match Title
        div(class="col s12 m3 l3")
            h5(class="section-title text-orange") Work Experience
            div(class="spacer-15")
            div(id="work-container" data-work-container)
        div(class="col s12 m3 l3")
            h5(class="section-title text-orange") Education
            div(class="spacer-15")
            div(id="education-container" data-education-container)
        div(class="col s12 m3 l3")
            h5(class="section-title text-orange") Interests
            div(class="spacer-15")
            div(id="interests-container" data-interests-container)