form(class="col s12 l12")
				div(class="row")
					div(class="input-field col s12 m6 l6")
						input(class="validate" id="fName" type="text" required="")
						label(for="fName") First Name
					div(class="input-field col s12 m6 l6")
						input(class="validate" id="lName" type="text" required="")
						label(for="lName") Last Name
					div(class="input-field col s12 m12 l12")
						input(class="validate" id="email" type="email" required="")
						label(for="email") Email
					div(class="input-field col s12 m12 l12")
						input(class="validate" id="pwd" type="password" required="")
						label(for="pwd") Password
					div(class="input-field col s12 m12 l12")
						input(class="validate" id="comp" type="text" required="")
						label(for="comp") Company
					div(class="input-field col s12 m12 l12")
						input(class="validate" id="phone" type="text" required="")
						label(for="phone") Phone
					div(class="input-field col s12 m12 l12 center")
						p How many people do you expect to invite to CoffeeChat?
						a(class="dropdown-button coffee-chat-orange btn" data-activates="numParticip") Number of Participants
						- var n = 0
						ul(id="numParticip" class="dropdown-content")
							while n < 5000
								li= n+=25
			div(class="center col s12 m6 l12")
				h5(class="red-text center" id="error")
				button(class="btn waves-effect waves-light coffee-chat-orange submit" type="submit" name="action") Submit
script(src="/public/js/enterprise.js")
