html
	head
		include ./includes/styles.jade
	body
		nav(class="white z-depth-0")
			div(class="nav-wrapper")
				a(href="/")
					img(class="left brand-logo coffee-chat-logo " src="/public/images/logo.png")
				a(href="/settings")
					img(class="right brand-logo coffee-chat-logo circle" src=curUser.profilePic)
				//- h3(class="center text-orange hide-on-small-only") Welcome to Coffee Chat!
		div(class="current-matches")
			if (curMatch.matches.length == 1)
				h3(class="center text-orange" id="match-announcement") You have a new match!
			else if (curMatch.matches.length > 1)
				h3(class="center text-orange" id="match-announcement") You have new matches!
			else
				h3(class="center text-orange" id="match-announcement") Please check back soon for new matches!
			each match in curMatch.matches
				include ./includes/match.jade
		div(class="section white" class="past-matches" id="previous-matches")
			h4(class="center text-orange") Past Coffee Chats
			div(class="row container")
				if (matchHist.matches)
					each pastMatch in matchHist.matches
						include ./includes/past-match.jade
		include ./includes/partners.jade
		include ./includes/footer.jade

	script(src="https://code.jquery.com/jquery-2.2.0.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js")
	script(src="/public/js/index.js")