html
    head
        include ./includes/styles.jade
    body
        nav(class="white z-depth-0 clear")
            div(class="nav-wrapper coffee-chat-grey-background coffee-chat-grey-bottom-border")
                div(class="container")
                    a(href="/")
                        img(class="coffee-chat-logo left brand-logo" src="/public/images/logo.png")
                    div(class="right")
                        a(href="/settings")
                            img(class="account-pic circle" src=curUser.profilePic)
                        ul(id="nav-mobile" class="right")
                            li
                                a(class="coffee-chat-grey" href="/wild/user/signout") Signout

        div(class="current-matches")
            if (curMatch.matches.length > 0)
                each match in [curMatch.matches[0]]
                    include ./includes/match.jade
            else
                h3(class="center text-orange" id="match-announcement") Please check back soon for new matches!
        if (matchHist.matches)
            div(class="section coffee-chat-grey-background  past-matches" id="previous-matches")
                h5(class="center text-orange") Past CoffeeChats
                div(class="row container")
                    each pastMatch in matchHist.matches
                        include ./includes/past-match.jade
        include ./includes/partners.jade
        include ./includes/footer.jade

    script(src="https://code.jquery.com/jquery-2.2.0.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js")
    script(src="/public/js/index.js")
    script var pastMatchData = !{JSON.stringify(matchHist.matches)}
    script(src="/public/js/past-matches.js")
