html
	head
		include ./includes/styles.jade
	body
		include ./includes/home-header.jade
		div(class="parallax-container valign-wrapper")
			div(class="parallax")
				img(src="/public/images/background-pic.jpg" style="width:100%; min-width:1080px;")
			div(class="container valign" style="text-shadow: 0px 2px 15px rgba(0,0,0,.5)")
				div(class="row spacer-75" style="margin-bottom: 0px")
					div(class="left col s12 m10 l8")
						h2(class="header white-text") Building great organizations one conversation at a time
				div(class="row")
					div(class="left col s12 m12 l12")
						h5(class="white-text spacer-0") Make connections.
						h5(class="white-text spacer-0") Manage development. 
						h5(class="white-text spacer-0") Improve performance.
						p(class="spacer-45")
						if (!curUser)
							a(class="waves btn sign-up-btn modal-trigger" href="#warning") Sign In With LinkedIn
							div(id="warning" class="modal")
								div(class="modal-content center")
									h5 Welcome to CoffeeChat!
									a(class="waves btn linked-in-btn" href="/wild/oauth/auth")
								div(class="modal-footer")
									p **If you have trouble logging in to the site, please check our 
										a(href="/faq" class="modal-action modal-close") FAQ page
							a(class="waves btn learn-more-btn clear" href="#About") Learn More
						else
							a(class="waves btn learn-more-btn clear" href="/survey") We'd like to know more about you.
						//- if (!curUser)
							div(class="row center-align")
								div(class="col s12 m12 l4 offset-l4 white text-orange")
									ul(class="tabs")
										li(class="tab col s3 l3")
											a(href="#user" class="active text-orange") Users
										li(class="tab col s3 l3")
											a(class="text-orange" href="#admin") Admins
								div(id="user" class="col s12 m12 l4 offset-l4 white text-orange")
									h5 Click the link below to sign in as a user
									//- a(class="linked-in-btn" href="/wild/oauth/auth" title="Login with LinkedIn")
									a(class="waves btn sign-up-btn" href="/wild/oauth/auth") Sign In With LinkedIn
								div(id="admin" class="col s12 m12 l4 offset-l4 white text-orange")
									h5 Sign in as a community administrator
									div(class="input-field col s12 m12 l12")
										input(id="email" type="email" class="validate")
										label(for="email") Email
									div(class="input-field col s12 m12 l12")
										input(id="password" type="password" class="validate")
										label(for="password") Password
										a(class="btn waves-effect waves-light coffee-chat-orange" data-submit type="submit" name="action") Submit
						//- else
							a(class="waves btn learn-more-btn clear" href="/survey") We'd like to know more about you.
							p(class="spacer-45")
		div(class="section white container")
			a(name="About")
			div(class="anchor-fix")
			h3(class="center text-orange") How It Works
			p(class="spacer-30")
			div(class="row text-grey")
				div(class="center col s12 m4 l4")
					img(class="circle" style="width:200px;" src="/public/images/circle-1.jpg")
					h5(class="center") Join
					p Simple onboarding makes it easy to bring your team online
				div(class="center col s12 m4 l4")
					img(class="circle" style="width:200px;" src="/public/images/circle-2.jpg")
					h5(class="center") Connect
					p Match members of your team to meet their career development goals
				div(class="center col s12 m4 l4")
					img(class="circle" style="width:200px;" src="/public/images/circle-3.jpg")
					h5(class="center") See Results
					p Manage your program, see the success of the connections, and easily make changes to meet your objectives
		div(class="section coffee-chat-grey-background")
			p(class="spacer-15")
			h4(class="center container text-orange") Develop a stronger workforce while saving time and resources
			p(class="spacer-15")
			div(class="row container text-grey")
				div(class="left col s12 m4 l4")
					h6(class="left") Automation
					p 
						br
						| Avoid hours of tedious manual matching for your program with a automatic and simple matching algorithm and user interface
				div(class="left col s12 m4 l4")
					h6(class="left") Development
					p 
						br 
						| Develop talent through quality conversations with potential mentors and reverse mentors
				div(class="left col s12 m4 l4")
					h6(class="left") Community
					p 
						br
						| Build a sense of community within all parts of your team through connectivity
		div(class="section white container")
			p(class="spacer-30")
			div(class="row text-grey")
				div(class="center valign col s6 m4 l2")
					img(class="" style="max-width:100px;max-height:100px;" src="/public/images/1.png")
					h6(class="center") Matching Algorithm
				div(class="center col s6 m4 l2")
					img(class="" style="max-width:100px;max-height:100px;" src="/public/images/2.png")
					h6(class="center") Easy Set Up
				div(class="center col s6 m4 l2")
					img(class="" style="max-width:100px;max-height:100px;" src="/public/images/3.png")
					h6(class="center") Customization
				div(class="center valign col s6 m4 l2")
					img(class="" style="max-width:100px;max-height:100px;" src="/public/images/4.png")
					h6(class="center") Automated Alerts
				div(class="center col s6 m4 l2")
					img(class="" style="max-width:100px;max-height:100px;" src="/public/images/5.png")
					h6(class="center") Scheduling & Planning
				div(class="center col s6 m4 l2")
					img(class="" style="max-width:100px;max-height:100px;" src="/public/images/6.png")
					h6(class="center") Management Tools
		include ./includes/partners.jade
		include ./includes/footer.jade

	include ./includes/js.jade
	script(src="/public/js/index.js")
