html
	head
		include ./includes/styles.jade
	body
		include ./includes/header.jade
			
		include ./includes/editable-profile.jade
		div(class="center" data-save-prompt style="display: none; margin-top:-30px;")
			div It looks like you've made some changes to your profile! Don't forget to click save!
			a(class="spacer-15 btn btn-outline z-depth-0" data-save) Save
		div(class="row container" data-survey)
			include ./includes/survey.jade
			div(class="center" data-survey style="display: none")
				div Don't forget to save you changes!
				a(class="spacer-15 btn btn-outline z-depth-0" data-submit) Save
		div(class="row container center")
			p(class="spacer-15")
			a(class="text-orange" data-more href="#more") SHOW MORE SETTINGS
		div(class="row coffee-chat-grey-background" style="padding-top:1px")
			h4(class="spacer-15 center text-orange") #{profile.firstName}'s CoffeeChats
			div(class="container")
				div(id="cy" style="width: 100%; height: 50%;")

	include ./includes/footer.jade
	script(src="https://code.jquery.com/jquery-2.2.0.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js")
	script(src="http://js.cytoscape.org/js/cytoscape.min.js")
	script var pastMatches = !{JSON.stringify(pastMatches)}
	script(src="/public/js/survey.js")
	script(src="/public/js/settings.js")
	include ./includes/google-analytics.jade
						
