html
	head
		include ./includes/styles.jade
	body
		div(class="row")
			include ./includes/signin-header.jade
		div(class="row valign-wrapper")
			div(class="container valign")
				div(class="row text-orange" style="padding:50px")
					h4 Sign in to your CoffeeChat account:
					div(class="col s12 m12 l6 offset-l3" style="border-style:solid solid none solid")
								ul(class="tabs")
									li(class="tab col s3 l3")
										a(href="#user") Users
									li(class="tab col s3 l3")
										a(class="active" href="#admin") Admins
					div(id="user" class="col s12 m12 l6 offset-l3 center" style="border-style:none solid solid solid; padding:15px")
							a(class="waves btn sign-up-btn modal-trigger" href="#warning") Sign In With LinkedIn
							div(id="warning" class="modal text-orange")
								div(class="modal-content center")
									h5 Welcome to CoffeeChat!
									a(class="waves btn linked-in-btn" href="/wild/oauth/auth")
								div(class="modal-footer center")
									p **If you have trouble logging in to the site, please check our 
										a(href="/faq" class="modal-action modal-close") FAQ page
					div(id="admin" class="col s12 m12 l6 offset-l3 center" style="border-style:none solid solid solid; padding:15px")
								h5 Sign in as a community administrator
								div(class="input-field col s12 m12 l6 offset-l3")
									input(id="email" type="email" class="validate")
									label(for="email") Email
								div(class="input-field col s12 m12 l6 offset-l3")
									input(id="password" type="password" class="validate")
									label(for="password") Password
									a(class="btn waves-effect waves-light coffee-chat-orange" data-submit type="submit" name="action") Submit
	include ./includes/partners.jade
	include ./includes/footer.jade

	include ./includes/js.jade
	script(src="/public/js/signin.js")
