html
	head
		include ./includes/styles.jade
	body
		div(class="row")
			include ./includes/home-header.jade
		div(class="row valign-wrapper")
			//-div(class="parallax")
				//-img(src="/public/images/background-pic.jpg" style="width:100%; min-width:1080px;")
			div(class="container valign")
				div(class="row text-orange" style="padding:50px")
					h4 Sign in to your CoffeeChat account:
					div(class="col s12 m12 l6 offset-l3" style="border-style:solid solid none solid")
								ul(class="tabs")
									li(class="tab col s3 l3")
										a(href="#user") Users
									li(class="tab col s3 l3")
										a(class="active" href="#admin") Admins
					div(id="user" class="col s12 m12 l6 offset-l3" style="border-style:none solid solid solid")
								h5 Click the link below to sign in as a user
								a(class="linked-in-btn" href="/wild/oauth/auth" title="Login with LinkedIn")
					div(id="admin" class="col s12 m12 l6 offset-l3" style="border-style:none solid solid solid")
								h5 Sign in as a community administrator
								div(class="input-field col s12 m12 l6 offset-l3")
									input(id="email" type="email" class="validate")
									label(for="email") Email
								div(class="input-field col s12 m12 l6 offset-l3")
									input(id="password" type="password" class="validate")
									label(for="password") Password
									a(class="btn waves-effect waves-light coffee-chat-orange" data-submit type="submit" name="action") Submit
				div(class="row text-orange" style="padding:50px")
					h4 New user? Sign up here:
					include ./includes/signup.jade
	include ./includes/partners.jade
	include ./includes/footer.jade

	script(src="https://code.jquery.com/jquery-2.2.0.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js")
	script(src="/public/js/signin.js")
	script(src="/public/js/index.js")
	include ./includes/google-analytics.jade