html
	head
		include ./includes/styles.jade
	body
		div(class="row")
			include ./includes/home-header.jade
		div(class="row valign-wrapper")
			div(class="container valign")
				div(class="row text-orange" style="padding:50px")
					h4 New user? Create an account here:
					div(class="col s12 m12 l6 offset-l3" style="border-style:solid solid none solid")
								ul(class="tabs")
									li(class="tab col s3 l3")
										a(href="#user") Users
									li(class="tab col s3 l3")
										a(class="active" href="#admin") Admins
					div(id="user" class="col s12 m12 l6 offset-l3 center" style="border-style:none solid solid solid; padding:15px")
							a(class="waves btn sign-up-btn modal-trigger" href="#warning") Sign In With LinkedIn
							div(id="warning" class="modal text-orange")
								div(class="modal-content center")
									h5 Welcome to CoffeeChat!
									a(class="waves btn linked-in-btn" href="/wild/oauth/auth")
								div(class="modal-footer center")
									p **If you have trouble logging in to the site, please check our 
										a(href="/faq" class="modal-action modal-close") FAQ page
					div(id="admin" class="col s12 m12 l6 offset-l3 center" style="border-style:none solid solid solid; padding:15px")
								h5 Create a new community
								include ./includes/signup.jade
	include ./includes/partners.jade
	include ./includes/footer.jade

	script(src="https://code.jquery.com/jquery-2.2.0.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js")
	include ./includes/google-analytics.jade