html
	head
		include ./includes/styles.jade
	body
		div(class="modal" id="company")
			div(class="modal-content container text-orange center")
				h6 Please enter the code for the company you want to join:
				div(class="input-field col s12 m6 l4 center")
					input(id="companyCode" type="text")
					label(for="companyCode") Community Code
				h6(class="row center red-text" id="code")
				a(class="btn waves-effect waves-light coffee-chat-orange" data-companycode type="submit" name="action") Submit
		nav(class="white z-depth-0 clear")
			div(class="nav-wrapper coffee-chat-grey-background coffee-chat-grey-bottom-border")
				div(class="container")
					a(href="/")
						img(class="left brand-logo coffee-chat-logo " src="/public/images/logo.png")
		div(class="container text-orange")
			h4(class="center text-orange") #{"Profile Survey for " + profile.firstName}
				h5(class="center text-orange") Help us improve your matches!
		include ./includes/editable-profile.jade	
		div(class="row text-orange coffee-chat-grey-background")
			div(class="row container")
				include ./includes/survey.jade
			h6(class="row center red-text" id="errorMessage")
			div(class="row center")
				a(class="btn waves-effect waves-light coffee-chat-orange" data-submit data-save type="submit" name="action") Submit
	include ./includes/footer.jade
	include ./includes/js.jade
	script(src="/public/js/survey.js")
	script.
		$('#company').openModal({
			dismissible: false,
		});
	include ./includes/google-analytics.jade
