html
	head
		include ./includes/styles.jade
	body
		include ./includes/home-header.jade
		div(class="section coffee-chat-grey-background")
				div(style="height:100px;")
				div(class="row container valign" style="text-shadow: 0px 2px 5px rgba(0,0,0,.16);")
					h3(class="center header" style="color:#ff7050;") Meet the Team
				div(class="row container text-grey")
					div(class="col s12 m6 l3 center spacer-15")
						a(href="https://www.linkedin.com/in/gregory-chan-719b1668")
							img(class="responsive-img circle coffee-chat-circle" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/5/005/09d/077/152c911.jpg")
						h5 Greg
						p Developer
					div(class="col s12 m6 l3 center spacer-15")
						a(href="https://www.linkedin.com/in/tarachang")
							img(class="responsive-img circle coffee-chat-circle" src="https://media.licdn.com/media/AAEAAQAAAAAAAASrAAAAJDdkMDU5YzRjLTNlOGMtNDEyMS1iYWViLTg5NmE3NjgwMDk3Mw.jpg")
						h5 Tara
						p Business
					div(class="col s12 m6 l3 center spacer-15")
						a(href="https://www.linkedin.com/in/avery-fisher-12910379")
							img(class="responsive-img circle coffee-chat-circle" src="https://media.licdn.com/media/AAEAAQAAAAAAAAbXAAAAJDI0MDNmYmZkLTMxZWYtNDk2MC05ZGU2LTMxODEyNzZmOGM4Mg.jpg")
						h5 Avery
						p Designer
					div(class="col s12 m6 l3 center spacer-15")
						a(href="https://www.linkedin.com/in/nick-hall-7734548a")
							img(class="responsive-img circle coffee-chat-circle" src="https://media.licdn.com/media/AAEAAQAAAAAAAAIwAAAAJGQxZDFiMmFjLWE4YzQtNDVjMy1iYzgwLTNmYmEwNTRhNGM4Yg.jpg")
						h5 Nick
						p Developer
				div(class="row container text-grey")
					div(class="col s12 m6 l3 center spacer-15")
						a(href="https://www.linkedin.com/in/mukailu")
							img(class="responsive-img circle coffee-chat-circle" src="https://media.licdn.com/media/AAEAAQAAAAAAAAaBAAAAJGVlMzlmYmY3LWRiNDAtNGIwZi1iYjZmLTkyMTE0MTdlMTY2NA.jpg")
						h5 Mukai
						p Developer
					div(class="col s12 m6 l3 center spacer-15")
						a(href="https://www.linkedin.com/in/jasonlustbader")
							img(class="responsive-img circle coffee-chat-circle" src="https://media.licdn.com/media/AAEAAQAAAAAAAAK9AAAAJGQwNDk0ODRmLWJjOTQtNDQ0Ni05N2Q0LTBhYjNjMjEyZGJkMg.jpg")
						h5 Jason
						p Developer
					div(class="col s12 m6 l3 center spacer-15")
						a(href="https://www.linkedin.com/in/chinyeamanda")
							img(class="responsive-img circle coffee-chat-circle" src="https://media.licdn.com/media/AAEAAQAAAAAAAAS4AAAAJDk2YWM1NDg0LTkwYTgtNGY3Mi05MWVjLTE1MTJjYmU4YTZkYw.jpg")
						h5 Chinye
						p Content
					div(class="col s12 m6 l3 center spacer-15")
						a(href="https://www.linkedin.com/in/holliday-shuler-69ba0489")
							img(class="responsive-img circle coffee-chat-circle" src="https://media.licdn.com/media/p/4/005/07f/29d/2f9a40f.jpg")
						h5 Holliday
						p Developer

		include ./includes/footer.jade

	script(src="https://code.jquery.com/jquery-2.2.0.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js")
	script(src="/public/js/index.js")
	include ./includes/google-analytics.jade
