@font-face {
  font-family: museo;
  src: url('/public/fonts/museo.woff');
}

@font-face {
  font-family: lato;
  src: url('/public/fonts/lato-regular.woff');
}

.sticky-nav {
  position: fixed !important;
  width: 100%;
  height: 62px !important;
  top: 0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(170,165,165,0.0);
} 

.sticky-nav-white {
  position: fixed !important;
  width: 100%;
  height: 62px !important;
  top: 0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  background-color: #fff;
  border-bottom-color: rgba(170,165,165,1.0);
} 

.admin-nav {
  font-size: 16px !important;
} 

.sticky-contents {
  position: relative !important;
  right: 0;
}   

@font-face {
  font-family: latoLight;
  src: url('/public/fonts/lato-light.woff');
}

body {
  font-family: latoLight;
}

h1 {
  font-family: museo;
}

h2 {
  font-family: museo;
}

h3 {
  font-size: 36px;
  font-family: museo;
}

h4 {
  font-size: 26px;
  font-family: museo;
}

h5 {
  font-family: lato;
}

h6 {
  font-family: lato;
}

.linked-in-btn {
  display: inline-block;
  margin-top: 20px;
  width: 215px;
  height: 40px;
  background-position: center top;
  background-repeat: no-repeat;
  background-image: url('/public/images/LinkedIn-Default.png');
  background-size: contain;
}

.linked-in-btn:active {
  background-image: url('/public/images/LinkedIn-Active.png');
}

.linked-in-btn:hover {
  background-image: url('/public/images/LinkedIn-Hover.png');
}

#match-rate {
  display: none;
}

#submit-rating{
  margin-top: 0px;
  margin-bottom: 24px;
  z-index: 1000;
}

.rating {
  margin-top: -48px;
  margin-bottom: -24px;
  font-size: 100px;
  unicode-bidi: bidi-override;
  direction: rtl;
}

.rating > a {
  display: inline-block;
  position: relative;
}

.rating > a:hover:before,
.rating > a:hover ~ a:before,
.rating > a.active:before,
.rating > a.active ~ a:before{
 content: "\25CF";
 margin-left: -2px;
 margin-top: -2px;
 position: absolute;
}

.match-btn {
  height: 90px;
  width: 90px;
}

.indicator {
  background-color: #ff7050 !important;
}

.coffee-chat-logo {
  height: auto;
  margin: 0px !important;
}

.account-pic {
  height: 84%;
  margin-bottom: 1px !important;
  margin-right: 3px !important;
}

.parallax-container {
  height: 600px;
}

.admin-talent .side-nav {
  margin-top: 40px;
  width: 180px;
}

.admin-talent .row {
  margin-bottom: 0px;
}

.admin-talent .no-padding {
  padding: 0px;
}

.admin-talent .profile-pic {
  width: 100%;
  height: auto;
  margin-right: 20px;
  max-width: 60px;
  max-height: 60px;
}

.admin-talent .description {
  display: block;
  min-width: 230px;
  max-width: 250px;
  font-size: 12px;
}

.admin-talent .past-matches {
  width: 200px;
  min-width: 200px;
  max-width: 200px;
}

.admin-talent .admin-talent-past-img {
  width: 100%;
  height: auto;

  max-width: 40px;
  max-height: 40px;
}

.admin-list-element {
  line-height: 40px !important;
  height: 40px !important;
  display: inline-block !important;
}

.admin-talent .side-nav li {
  line-height: 40px;
}

.admin-talent .settings {
  position: absolute;
  right: 0px;
}

.text-orange {
  color: #ff7050 !important;
}

.text-grey {
  color: #676767;
}

.anchor-fix {
  padding-top: 62px;
  margin-top: -62px;
}
.spacer-0 {
  margin-top: 0px;
}

.spacer-15 {
  margin-top: 15px;
}

.spacer-30 {
  margin-top: 30px;
}

.spacer-45 {
  margin-top: 45px;
}

.spacer-60 {
  margin-top: 60px;
}

.spacer-75 {
  margin-top: 75px;
}

.brand-logo {
  margin-top: 5px !important;
  margin-left: 15px !important;
  position: relative !important;
}

.coffee-chat-home-logo {
  width: 200px !important;
}

.text-grey {
  color: #676767;
}

.text-light-grey {
  color: #a1a1a1;
}

.chip {
  margin-right: 5px;
  margin-bottom: 5px;
}

textarea {
  resize: none;
  height: 100px;
}

.fill {
  width: 100%;
}

.tiny-text {
  font-size: 10px;
}

.profile-section .profile-container {
  padding-top: 10px;
  padding-bottom: 10px;
}

.profile-section .title {
  font-size: 14px !important;
  font-weight: bolder;
}

.profile-section .subtitle {
  font-size: 14px !important;
  font-weight: 500;
}

.icon {
  margin-left: 5px;
  margin-right: 5px;
}

.profile-section .section-title {
  font-size: 18px !important;
  font-weight: 500;
}

.home-header {
  display: inline-block;
  color: #565a56;
}

.profile-edit .editable i {
  color: #565a56;
  font-size: 15px;
  text-align: right;
}

.profile-edit .editable .edit {
  border: none;
  padding: 0px;
  margin:0px;
}

.profile-edit .editable input:focus {
  border-bottom: 0px;
  box-shadow: none;
}

.navbar-fixed {
  z-index: 1500;
}

.nav-buttons a {
  margin-top: -10px;
  height: 55px;
}

@media only screen and (min-width: 601px) {
  .nav-buttons a {
    height: 63px;
  }
}

.side-nav {
  border-right: 1px solid #eeeeee;
}

.page-footer {
  z-index: 1500;
}

.coffee-chat-orange {
  background: #ff7050 !important;
}

.coffee-chat-grey {
  color: #676767;
}

.coffee-chat-grey-background {
  background: #FAF5F5;
}

.coffee-chat-orange-background {
  background: #FCF5F1;
}

.coffee-chat-grey-bottom-border {
  border-bottom: 1px solid #eeeeee;
}

.coffee-chat-divider:before, .coffee-chat-divider:after {
  content: "";
  display: inline-block;
  width: 30%;
  margin: 0 .5em 0 -55%;
  vertical-align: middle;
  border-bottom: 1px solid;
}

.coffee-chat-collapsible-body {
  margin: 10px;
  margin-left: 2rem;
}

.coffee-chat-inline {
  display: inline-block;
}

.coffee-chat-circle {
  width: 100%;
}

.clear {
  background: none !important;
}

.btn-outline {
  border: 1px solid !important;
  border-color: #ff7050 !important;
  background: none;
  color: #ff7050;
}

.sign-up-btn {
  border: 1px solid !important;
  border-radius: 10px !important;
  height: 50px;
  border-color: #ff7050 !important;
  background: #ff7050;
  color: #fff;
  font-family: lato;
  font-size: 20px !important;
  font-weight: 500 !important;
  padding-top: 5px !important;
  text-shadow:none;
  text-transform: none !important;
}

.sign-up-btn:hover {
  border: 1px solid !important;
  border-color: #EC6445 !important;
  background: #EC6445;
}

.learn-more-btn {
  margin-left: 20px;
  border: 1px solid !important;
  border-radius: 10px !important;
  height: 50px;
  border-color: #fff !important;
  background: none;
  color: #fff;
  font-family: lato;
  font-size: 20px !important;
  font-weight: 500 !important;
  padding-top: 5px !important;
  text-transform: none !important;
}

.learn-more-btn:hover {
  border: 1px solid !important;
  border-color: #fff !important;
  background: none;
}

.nav-absolute {
  position: absolute;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.6); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)) !important; /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)) !important; /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)) !important; /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)) !important;
}

.max-width {
  max-width: 200px;
}

.nav-btn {
  margin-top: 11px !important;
  border: 1px solid !important;
  border-radius: 10px !important;
  height: 40px;
  border-color: #ff7050 !important;
  background: #ff7050;
  color: #fff;
  font-family: lato;
  font-size: 16px !important;
  font-weight: 500 !important;
  /*padding-top: 5px !important;*/
  margin-right: 10px !important;
  /*padding-left: 5px !important;*/
  text-shadow:none;
  text-transform: none !important;

}

.navbar-fixed {
  height: 62px;
}

.admin-logo {
  height: 28px;
}

.nav-wrapper {
  line-height: 40px;
}

nav {
  height: 40px;
}

/* materialize overrides */
.dropdown-content {
  color: #565a56;
  width: 120px !important;
}

.btn-outline:hover {
  border: 1px solid !important;
  border-color: #EC6445 !important;
  background: #EC6445;
}

.coffee-chat-divider:after {
  margin: 0 -55% 0 .5em;
}

/* label focus color */
.input-field input[type=text]:focus + label {
 color: #ff7050;
}
/* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid #ff7050;
 box-shadow: 0 1px 0 0 #ff7050;
}

/* label focus color */
.input-field input[type=email]:focus + label {
 color: #ff7050;
}
/* label underline focus color */
.input-field input[type=email]:focus {
 border-bottom: 1px solid #ff7050;
 box-shadow: 0 1px 0 0 #ff7050;
}

/* label focus color */
.input-field input[type=password]:focus + label {
 color: #ff7050;
}
/* label underline focus color */
.input-field input[type=password]:focus {
 border-bottom: 1px solid #ff7050;
 box-shadow: 0 1px 0 0 #ff7050;
}

/* icon prefix focus color */
.input-field .prefix.active {
 color: #000;
}

/* label focus color */
.input-field textarea[type=text]:focus + label {
 color: #ff7050;
}
/* label underline focus color */
.input-field textarea[type=text]:focus {
 border-bottom: 1px solid #ff7050;
 box-shadow: 0 1px 0 0 #ff7050;
}

.dropdown-content li>a, .dropdown-content li>span {
  color: #EC6445;
}

.delete-icon {
  position:relative;
  left: -18px;
  top: 18px;
}

@media(max-width: 600px) {
  .past-match {
    height: 320px;
  }
  .account-pic {
    margin-top: 5px !important;
  }
}

@media(min-width: 900px) {
 .past-match {
    height: 300px;
  } 
}

@media(min-width: 601px) and (max-width: 899px) {
  .past-match {
    height: 320px;
  }
}

@media only screen and (max-width: 992px) {
  .side-nav.fixed {
    left: 0%;
  }
}