.linked-in-btn {
  display: inline-block;
  margin-top: 20px;
  width: 215px;
  height: 40px;
  background-position: center top;
  background-repeat: no-repeat;
  background-image: url('/public/images/LinkedIn-Default.png');
  background-size: contain;
}

.linked-in-btn:active {
  background-image: url('/public/images/LinkedIn-Active.png');
}

.linked-in-btn:hover {
  background-image: url('/public/images/LinkedIn-Hover.png');
}

#match-rate {
    display: none;
}

.rating {
  margin-top: -48px;
  font-size: 100px;
  unicode-bidi: bidi-override;
  direction: rtl;
}

.rating > a {
  display: inline-block;
  position: relative;
}

.rating > a:hover:before,
.rating > a:hover ~ a:before,
.rating > a.active:before,
.rating > a.active ~ a:before{
   content: "\25CF";
   margin-left: -2px;
   margin-top: -2px;
   position: absolute;
}

.match-btn {
  height: 90px;
  width: 90px;
}

.coffee-chat-logo {
  height: 100%;
  margin: 0px !important;
}

.account-pic {
  height: 84%;
  margin: 5px !important;
}

.parallax-container {
  height: 600px;
}

.admin-talent-img {
  width: 100px;
  height: 100px;
}

.text-orange {
  color: #EC6445;
}

.spacer-15 {
  margin-top: 15px;
}

.spacer-30 {
  margin-top: 30px;
}

.spacer-45 {
  margin-top: 45px;
}

.spacer-60 {
  margin-top: 60px;
}

.spacer-75 {
  margin-top: 75px;
}

.brand-logo {
  margin-top: 5px;
  margin-left: 5px;
}

.text-grey {
  color: #635A5D;
}

.chip {
  margin-right: 5px;
  margin-bottom: 5px;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

textarea {
  resize: none;
  height: 100px;
}

.fill {
  width: 100%;
}

.tiny-text {
  font-size: 10px;
}

.profile-section .profile-container {
  padding-top: 10px;
  padding-bottom: 10px;
}

.profile-section .title {
  font-size: 14px !important;
  font-weight: bolder;
}

.profile-section .subtitle {
  font-size: 14px !important;
  font-weight: 500;
}

.profile-section .icon {
  margin-left: 5px;
  margin-right: 5px;
}

.profile-section .section-title {
  font-size: 22px !important;
  font-weight: 500;
}

.profile-edit .editable i {
  color: #565a56;
  font-size: 15px;
  text-align: right;
}

.profile-edit .editable .edit {
  border: none;
  padding: 0px;
  margin:0px;
}

.profile-edit .editable input:focus {
  border-bottom: 0px;
  box-shadow: none;
}

.navbar-fixed {
  z-index: 1500;
}

.nav-buttons a {
  margin-top: -10px;
  height: 55px;
}

@media only screen and (min-width: 601px) {
    .nav-buttons a {
        height: 63px;
    }
}

.side-nav {
  background: #FAFAFA !important;
  border-right: 1px solid #bbbbbb;
}

.page-footer {
  z-index: 1500;
}

.coffee-chat-orange {
  background: #ff7050 !important;
}

.coffee-chat-grey {
  color: #565a56;
}

.coffee-chat-grey-background {
  background: #FAFAFA;
}

.coffee-chat-orange-background {
  background: #FCF5F1;
}

.coffee-chat-grey-bottom-border {
  border-bottom: 1px solid #bbbbbb;
}

.coffee-chat-divider:before, .coffee-chat-divider:after {
  content: "";
  display: inline-block;
  width: 30%;
  margin: 0 .5em 0 -55%;
  vertical-align: middle;
  border-bottom: 1px solid;
}

.coffee-chat-collapsible-body {
  margin: 10px;
  margin-left: 2rem;
}

.coffee-chat-inline {
  display: inline-block;
}

.coffee-chat-circle {
  width: 100%;
}

.clear {
  background: none !important;
}

.btn-outline {
  border: 1px solid !important;
  border-color: #ff7050 !important;
  background: none;
  color: #ff7050;
}

.nav-absolute {
  position: absolute;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.6); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)) !important; /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)) !important; /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)) !important; /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)) !important;
}

.nav-btn {
  margin-top: 13px !important;
}

.nav-wrapper {
}

/* materialize overrides */
.dropdown-content {
  color: #565a56;
}

.btn-outline:hover {
  border: 1px solid !important;
  border-color: #ff7050 !important;
  background: none;
}

.coffee-chat-divider:after {
  margin: 0 -55% 0 .5em;
}

/* label focus color */
.input-field input[type=text]:focus + label {
 color: #ff7050;
}
/* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid #ff7050;
 box-shadow: 0 1px 0 0 #ff7050;
}

/* label focus color */
.input-field input[type=email]:focus + label {
 color: #ff7050;
}
/* label underline focus color */
.input-field input[type=email]:focus {
 border-bottom: 1px solid #ff7050;
 box-shadow: 0 1px 0 0 #ff7050;
}

/* icon prefix focus color */
.input-field .prefix.active {
 color: #000;
}

/* label focus color */
.input-field textarea[type=text]:focus + label {
 color: #ff7050;
}
/* label underline focus color */
.input-field textarea[type=text]:focus {
 border-bottom: 1px solid #ff7050;
 box-shadow: 0 1px 0 0 #ff7050;
}

.dropdown-content li>a, .dropdown-content li>span {
  color: #EC6445;
}