html
	head
		include ../includes/styles.jade
	body
		h1(class="center text-orange") 401
		h2(class="center text-orange") You're not authorized to access this page!
		include ../includes/google-analytics.jade