html
	head
		include ../includes/styles.jade
	body
		h1(class="center text-orange") 404
		h2(class="center text-orange") Oops! This is not the page you're looking for!
		include ../includes/google-analytics.jade